
    body {
        font-family: Helvetica, sans-serif;
        background-color:rgb(242, 242, 242);
    }

    .header {
        padding-top: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        
    }
    
    .info {
        text-align: center;
    }

    .info > h1 {
        font-size: min(6vw, 3.5vh);
        font-weight: bold;
        color: black;
    }

    .receipt {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-inline: 5vw;
        margin-top: 5a50px;
        padding-bottom: 100px;
    }

    .receiptCard {
        flex: 1 1 50px;
        margin: 10px;
        background-color: white;
        border-radius: 20px;
        box-shadow:rgba(0, 0, 0, 0.04);
        width: 150px;
        height: 300px;
        text-align: center;
        padding: 20px;
        font-family: "Georgia", serif;
    }

    .receiptCard > p {
        font-size: 2vh;
    }

    .receiptCard > img {
        max-height: 300px;
    }
